<ion-header>
  <ion-toolbar color="light">
    <ion-title class="title-large"> SkeletonApp </ion-title>
    <ion-text>Aquí comienza todo</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input
        type="text"
        name="username"
        required
        minlength="3"
        maxlength="8"
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z0-9]+$"
        [(ngModel)]="credentials.username">
        </ion-input>
    </ion-item>

    <!--AGREGUE UNA VERIFICACION PARA QUE NOS AVISE QUE FALTA EN EL CAMPO DE USUARIO-->

    <div *ngIf="loginForm.controls['username']?.invalid && (loginForm.controls['username']?.dirty || loginForm.controls['username']?.touched)">
      <ion-text color="danger">
        <p *ngIf="loginForm.controls['username']?.errors?.['required']">El nombre de usuario es requerido.</p>
        <p *ngIf="loginForm.controls['username']?.errors?.['minlength']">El nombre de usuario debe tener al menos 3 caracteres.</p>
        <p *ngIf="loginForm.controls['username']?.errors?.['maxlength']">El nombre de usuario no puede tener más de 8 caracteres.</p>
        <p *ngIf="loginForm.controls['username']?.errors?.['pattern']">El nombre de usuario debe ser alfanumérico.</p>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
        <ion-input
        type="password"
        name="password"
        required
        minlength="4"
        maxlength="4"
        pattern="^\d{4}$"
        [(ngModel)]="credentials.password">
        </ion-input>
    </ion-item>


    <!--AGREGUE UNA VERIFICACION PARA QUE NOS AVISE QUE FALTA EN EL CAMPO DE CONTRASEÑA-->
    <div *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
      <ion-text color="danger">
        <p *ngIf="loginForm.controls['password']?.errors?.['required']">La contraseña es requerida.</p>
        <p *ngIf="loginForm.controls['password']?.errors?.['minlength']">La contraseña debe tener exactamente 4 dígitos.</p>
        <p *ngIf="loginForm.controls['password']?.errors?.['maxlength']">La contraseña no puede tener más de 4 dígitos.</p>
        <p *ngIf="loginForm.controls['password']?.errors?.['pattern']">La contraseña debe ser numérica y tener 4 dígitos.</p>
      </ion-text>
    </div>

    
    <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid">Iniciar Sesión</ion-button>
  </form>
</ion-content>