<ion-header>
  <ion-toolbar>
    <ion-title>SafeDriving App</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Salir</ion-button> 
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/historial">Historial</ion-button>
      <ion-button routerLink="/checklist">CheckList</ion-button>
      <ion-button routerLink="/perfil">Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <mat-card class="welcome-card">
      <mat-card-header>
        <mat-card-title class="welcome-title">Bienvenido a la Conducción con SafeDriving!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="welcome-text">Estamos encantados de tenerte aquí. Explora las diferentes funcionalidades y mejora tu experiencia.</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="features-card">
      <mat-card-content>
        <ion-list>
          <ion-item routerLink="/perfil" detail>
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-label>
              <h2>Perfil</h2>
              <p>Accede a tus datos y gestiona tu perfil.</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/checklist" detail>
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            <ion-label>
              <h2>CheckList</h2>
              <p>Revisa tus tareas y mantente organizado.</p>
            </ion-label>
          </ion-item>
          <ion-item routerLink="/historial" detail>
            <ion-icon slot="start" name="archive"></ion-icon>
            <ion-label>
              <h2>Historial</h2>
              <p>Consulta el historial de los checklist completados.</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
