.table-container {
    overflow-x: auto; 
    width: 100%; 
  }
  
  table {
    width: 100%; 
    border-collapse: collapse; 
  }
  
  th, td {
    padding: 8px; 
    text-align: left;
    word-wrap: break-word;
  }
  
  th {
    background-color: #f1f1f1;
  }
  

  /* acá seguramos que la tabla no falle en el tamaño de teléfono */

  @media (max-width: 768px) {
    table {
      display: block; 
      overflow-x: auto; 
      white-space: nowrap; 
    }
  
    th, td {
      display: table-cell; 
      width: auto; 
    }
  }
  