<ion-header>
  <ion-toolbar>
    <ion-title>SafeDriving App</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Salir</ion-button> 
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/historial">Historial</ion-button>
      <ion-button routerLink="/checklist">CheckList</ion-button>
      <ion-button routerLink="/perfil">Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Overlay del Spinner que ocupa toda la pantalla -->
  <div *ngIf="isSubmitting" class="spinner-overlay">
    <mat-spinner diameter="60"></mat-spinner>
  </div>



<ion-content padding>
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label>Seleccione Patente</ion-label>
      <ion-select [(ngModel)]="selectedPatente" name="patente" required>
        <ion-select-option *ngFor="let patente of patentes" [value]="patente">
          {{ patente }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Bocina -->
    <ion-item>
      <ion-label>Bocina</ion-label>
      <ion-select [(ngModel)]="bocinaStatus" name="bocinaStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(bocinaStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="bocinaComments" name="bocinaComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <!-- Aire Acondicionado -->
    <ion-item>
      <ion-label>Aire Acondicionado</ion-label>
      <ion-select [(ngModel)]="aireAcondicionadoStatus" name="aireAcondicionadoStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(aireAcondicionadoStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="aireAcondicionadoComments" name="aireAcondicionadoComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <!-- Neumático Repuesto -->
    <ion-item>
      <ion-label>Neumático Repuesto</ion-label>
      <ion-select [(ngModel)]="neumaticoRepuestoStatus" name="neumaticoRepuestoStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(neumaticoRepuestoStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="neumaticoRepuestoComments" name="neumaticoRepuestoComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <!-- Air-Bag -->
    <ion-item>
      <ion-label>Air-Bag</ion-label>
      <ion-select [(ngModel)]="airbagStatus" name="airbagStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(airbagStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="airbagComments" name="airbagComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <!-- Baliza -->
    <ion-item>
      <ion-label>Baliza</ion-label>
      <ion-select [(ngModel)]="balizaStatus" name="balizaStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(balizaStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="balizaComments" name="balizaComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <!-- Radio Comunicacional -->
    <ion-item>
      <ion-label>Radio Comunicacional</ion-label>
      <ion-select [(ngModel)]="radioStatus" name="radioStatus" required>
        <ion-select-option value="Bueno">Bueno</ion-select-option>
        <ion-select-option value="Malo">Malo</ion-select-option>
        <ion-select-option value="N/A">N/A</ion-select-option>
      </ion-select>
      <ion-item *ngIf="needsComments(radioStatus)">
        <ion-label position="floating">Comentarios</ion-label>
        <ion-input [(ngModel)]="radioComments" name="radioComments" type="text"></ion-input>
      </ion-item>
    </ion-item>

    <ion-button expand="full" type="submit">Enviar Checklist</ion-button>

    <ion-button expand="full" color="light" (click)="cleanForm()">Limpiar</ion-button>

  </form>
</ion-content>
